/* Add screen styles below */
a.active {
    font-weight: bold;
}

body {
    padding: 55px;
    margin-top: 50px;
    margin-bottom: 3em;
    background: #EEF7FB;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: #011A28;
}

html {
    background: #EEF7FB;
}

.ordernow {
    margin-left: 600px;
    margin-top: 30px;
}

.placeorder {
    margin-left: 600px;
    margin-top: 30px; 
}

.card {
    background-color: #EEF7FB;
}

button {
    background-color: #011A28;
}

.fixed-top {
        position: fixed;
        top: 0px;
        display: flex;
        justify-content:space-between;
        background: #FFEEC2;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        height: 10%;
        border-bottom: 3px solid #FFBC70;
}

@media screen and (max-width: 616px) {
    .customerinfo {
      display: block;
      padding: 0;
    }
}

@media (max-width: 768px) {
    .ordernow, .placeorder {
        margin-left: 0;
        margin-top: 15px;
        text-align: center;
    }
}
